<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index page</title>
    <style>
        h1{
            font-size: 60pt;
            color: #eee;
            text-align: right;
            margin: 0px;
        }
        body{
            font-size: 14pt;
            color: #999;
            margin: 5px;
        }
    </style>
</head>
<body>
    <header>
        <h1>Index</h1>
    </header>
    <div role="main">
        <p>This is the index page.</p>
        <p>This page is used with EJS.</p>
        <p>2021/04/08</p>
    </div>
</body>
</html>

